{
    "plugins": [
        "@babel/plugin-transform-parameters",
        "@babel/plugin-transform-typescript",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "mymodels": "./src/models",
                },
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx",
                    ".ios.js",
                    ".ios.ts",
                    ".ios.tsx",
                    ".android.js",
                    ".android.ts",
                    ".android.tsx"
                ],
                "cwd": "babelrc",
            }
        ]
    ]
}